.App {
  text-align: center;
  background-color: #f0f8ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.App-header {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-setup {
  background-color: #e0f7fa;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-setup h1 {
  font-size: 2.5em;
  color: #00796b;
}

label {
  display: block;
  margin: 1em 0;
  font-size: 1.2em;
  color: #4b0082;
}

select, input {
  margin-left: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid #00796b;
}

button {
  padding: 0.5em 1em;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #004d40;
}

h1 {
  font-size: 2.5em;
  color: #ff69b4;
}

h2, h3 {
  margin-top: 1em;
  color: #4b0082;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
  color: #4b0082;
}

li {
  margin: 0.5em 0;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
