@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Baloo Bhaina 2', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e; /* Cor escura para o fundo */
}

.App {
  text-align: center;
  width: 100%;
  width: 700px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #f0f8ff; /* Cor clara para o fundo do modal */
  color: #333333; /* Cor da fonte */
  height: 500px; /* Altura limitada */
  overflow-y: auto; /* Adiciona scroll vertical */
}

.user-setup {
  background-color: #e0f7fa; /* Neutra */
  border-radius: 15px;
  padding: 20px;
  color: #00796b;
}

.user-setup h1 {
  font-size: 2.5em;
  color: #00796b;
}

label {
  display: block;
  margin: 1em 0;
  font-size: 1.2em;
  color: #4b0082;
}

select, input {
  margin-left: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid #00796b;
}

button {
  padding: 0.5em 1em;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #004d40;
}

h1 {
  font-size: 2.5em;
}

h2, h3 {
  margin-top: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
}

li {
  margin: 0.5em 0;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

/* Neutral theme */
.App.neutral {
  background-color: #e0f7fa; /* Light cyan */
  color: #00796b; /* Teal */
}

.App.neutral h2, .App.neutral h3 {
  color: #00796b; /* Teal */
}

/* Boy theme */
.App.boy {
  background-color: #cceeff; /* Light blue */
  color: #1e3a5f; /* Dark blue */
}

.App.boy h2, .App.boy h3 {
  color: #1e3a5f; /* Dark blue */
}

/* Girl theme */
.App.girl {
  background-color: #ffe6f9; /* Light pink */
  color: #4b0082; /* Indigo */
}

.App.girl h2, .App.girl h3 {
  color: #4b0082; /* Indigo */
}

/* Customização do scroll para a tela neutra */
.App.neutral {
  scrollbar-color: #00796b #e0f7fa; /* Cor do thumb e track */
}

.App.neutral::-webkit-scrollbar {
  width: 12px;
}

.App.neutral::-webkit-scrollbar-thumb {
  background-color: #00796b; /* Cor do thumb */
  border-radius: 6px;
}

/* Customização do scroll para meninos */
.App.boy {
  scrollbar-color: #1e3a5f #cceeff; /* Cor do thumb e track */
}

.App.boy::-webkit-scrollbar {
  width: 12px;
}

.App.boy::-webkit-scrollbar-thumb {
  background-color: #1e3a5f; /* Cor do thumb */
  border-radius: 6px;
}

/* Customização do scroll para meninas */
.App.girl {
  scrollbar-color: #4b0082 #ffe6f9; /* Cor do thumb e track */
}

.App.girl::-webkit-scrollbar {
  width: 12px;
}

.App.girl::-webkit-scrollbar-thumb {
  background-color: #4b0082; /* Cor do thumb */
  border-radius: 6px;
}